In [1]:
print("""Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.

Twinkle, twinkle, little star,
    How I wonder what you are""")

Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.

Twinkle, twinkle, little star,
    How I wonder what you are

In [3]:
import sys
print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=12, micro=4, releaselevel='final', serial=0)

In [4]:
import datetime
now = datetime.datetime.now()
print("Current date and time:")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:
2024-08-10 02:53:16

In [5]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2
print(f"The area of the circle with radius {radius} is {area}")

Enter the radius of the circle:  5

The area of the circle with radius 5.0 is 78.53981633974483

In [6]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print(f"{last_name} {first_name}")

Enter your first name:  abdul
Enter your last name:  moiz

moiz abdul

In [7]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
addition = num1 + num2
print(f"The addition of {num1} and {num2} is {addition}")

Enter first number:  1
Enter second number:  67

The addition of 1.0 and 67.0 is 68.0

In [8]:
subjects = ["Math", "Science", "English", "History", "Geography"]
marks = []

for subject in subjects:
    mark = float(input(f"Enter marks for {subject}: "))
    marks.append(mark)

total_marks = sum(marks)
average = total_marks / len(subjects)

if average >= 90:
    grade = 'A'
elif average >= 80:
    grade = 'B'
elif average >= 70:
    grade = 'C'
elif average >= 60:
    grade = 'D'
else:
    grade = 'F'

print("\nMark Sheet")
print("-----------")
for i in range(len(subjects)):
    print(f"{subjects[i]}: {marks[i]}")
print(f"Total Marks: {total_marks}")
print(f"Grade: {grade}")

Enter marks for Math:  77
Enter marks for Science:  79
Enter marks for English:  67
Enter marks for History:  90
Enter marks for Geography:  72

Mark Sheet
-----------
Math: 77.0
Science: 79.0
English: 67.0
History: 90.0
Geography: 72.0
Total Marks: 385.0
Grade: C

In [9]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"{num} is an even number")
else:
    print(f"{num} is an odd number")

Enter a number:  5

5 is an odd number

In [10]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(f"The length of the list is: {len(my_list)}")

The length of the list is: 9

In [11]:
num_list = [1, 2, 3, 4, 5]
total = sum(num_list)
print(f"The sum of all numeric items in the list is: {total}")

The sum of all numeric items in the list is: 15

In [12]:
num_list = [1, 2, 3, 4, 5]
largest = max(num_list)
print(f"The largest number in the list is: {largest}")

The largest number in the list is: 5

In [13]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for number in a:
    if number < 5:
        print(number)

1
1
2
3