In [1]:
class Employee:
    def __init__(self, name, number, address, salary, post, year_of_joining, education, year_of_experience):
        self.name = name
        self.number = number
        self.address = address
        self.salary = salary
        self.post = post
        self.year_of_joining = year_of_joining
        self.education = education
        self.year_of_experience = year_of_experience

    def describe_employee(self):
        print(f"Name: {self.name}")
        print(f"Employee Number: {self.number}")
        print(f"Address: {self.address}")
        print(f"Salary: {self.salary}")
        print(f"Post: {self.post}")
        print(f"Year of Joining: {self.year_of_joining}")
        print(f"Education: {self.education}")
        print(f"Year of Experience: {self.year_of_experience}")

    def update_year_of_experience(self):
        current_year = 2024
        self.year_of_experience = current_year - self.year_of_joining

    def increase_salary(self, increment):
        self.salary += increment

# Creating an instance called employee101
employee101 = Employee("John Doe", 101, "123 Elm Street", 50000, "Engineer", 2018, "B.Tech", 6)

# Printing four attributes individually
print(employee101.name)
print(employee101.number)
print(employee101.address)
print(employee101.salary)

# Calling methods on employee101
employee101.describe_employee()
employee101.increase_salary(5000)
employee101.update_year_of_experience()

# Print updated details
print("\nUpdated Details:")
employee101.describe_employee()

# Creating 10 different instances and describing them
employees = [
    Employee("Alice Smith", 102, "456 Oak Avenue", 60000, "Manager", 2015, "MBA", 9),
    Employee("Bob Johnson", 103, "789 Pine Road", 55000, "Analyst", 2017, "M.Sc", 7),
    Employee("Charlie Brown", 104, "321 Maple Street", 52000, "Technician", 2019, "Diploma", 5),
    Employee("Diana Prince", 105, "654 Cedar Lane", 70000, "Director", 2012, "Ph.D.", 12),
    Employee("Eve Adams", 106, "987 Birch Boulevard", 45000, "Assistant", 2021, "B.A.", 3),
    Employee("Frank Castle", 107, "147 Spruce Street", 48000, "Coordinator", 2020, "B.Com", 4),
    Employee("Grace Lee", 108, "258 Willow Way", 53000, "Consultant", 2016, "MBA", 8),
    Employee("Hank Pym", 109, "369 Aspen Court", 62000, "Scientist", 2014, "M.Sc", 10),
    Employee("Ivy Green", 110, "741 Redwood Drive", 59000, "Advisor", 2013, "Ph.D.", 11),
    Employee("Jack Black", 111, "852 Dogwood Trail", 51000, "Developer", 2019, "B.Tech", 5)
]

# Describing each employee
for employee in employees:
    employee.describe_employee()
    print()  # Blank line between descriptions

# Performing some updates
employees[0].increase_salary(2000)
employees[1].update_year_of_experience()

# Print updated details for those employees
print("After Updates:")
employees[0].describe_employee()
employees[1].describe_employee()

John Doe
101
123 Elm Street
50000
Name: John Doe
Employee Number: 101
Address: 123 Elm Street
Salary: 50000
Post: Engineer
Year of Joining: 2018
Education: B.Tech
Year of Experience: 6

Updated Details:
Name: John Doe
Employee Number: 101
Address: 123 Elm Street
Salary: 55000
Post: Engineer
Year of Joining: 2018
Education: B.Tech
Year of Experience: 6
Name: Alice Smith
Employee Number: 102
Address: 456 Oak Avenue
Salary: 60000
Post: Manager
Year of Joining: 2015
Education: MBA
Year of Experience: 9

Name: Bob Johnson
Employee Number: 103
Address: 789 Pine Road
Salary: 55000
Post: Analyst
Year of Joining: 2017
Education: M.Sc
Year of Experience: 7

Name: Charlie Brown
Employee Number: 104
Address: 321 Maple Street
Salary: 52000
Post: Technician
Year of Joining: 2019
Education: Diploma
Year of Experience: 5

Name: Diana Prince
Employee Number: 105
Address: 654 Cedar Lane
Salary: 70000
Post: Director
Year of Joining: 2012
Education: Ph.D.
Year of Experience: 12

Name: Eve Adams
Employee Number: 106
Address: 987 Birch Boulevard
Salary: 45000
Post: Assistant
Year of Joining: 2021
Education: B.A.
Year of Experience: 3

Name: Frank Castle
Employee Number: 107
Address: 147 Spruce Street
Salary: 48000
Post: Coordinator
Year of Joining: 2020
Education: B.Com
Year of Experience: 4

Name: Grace Lee
Employee Number: 108
Address: 258 Willow Way
Salary: 53000
Post: Consultant
Year of Joining: 2016
Education: MBA
Year of Experience: 8

Name: Hank Pym
Employee Number: 109
Address: 369 Aspen Court
Salary: 62000
Post: Scientist
Year of Joining: 2014
Education: M.Sc
Year of Experience: 10

Name: Ivy Green
Employee Number: 110
Address: 741 Redwood Drive
Salary: 59000
Post: Advisor
Year of Joining: 2013
Education: Ph.D.
Year of Experience: 11

Name: Jack Black
Employee Number: 111
Address: 852 Dogwood Trail
Salary: 51000
Post: Developer
Year of Joining: 2019
Education: B.Tech
Year of Experience: 5

After Updates:
Name: Alice Smith
Employee Number: 102
Address: 456 Oak Avenue
Salary: 62000
Post: Manager
Year of Joining: 2015
Education: MBA
Year of Experience: 9
Name: Bob Johnson
Employee Number: 103
Address: 789 Pine Road
Salary: 55000
Post: Analyst
Year of Joining: 2017
Education: M.Sc
Year of Experience: 7

In [ ]:
WITHOUT USING CLASSES OR OOP

In [2]:
# Creating employee records as dictionaries
employee101 = {
    "name": "John Doe",
    "number": 101,
    "address": "123 Elm Street",
    "salary": 50000,
    "post": "Engineer",
    "year_of_joining": 2018,
    "education": "B.Tech",
    "year_of_experience": 6
}

# Function to describe an employee
def describe_employee(employee):
    print(f"Name: {employee['name']}")
    print(f"Employee Number: {employee['number']}")
    print(f"Address: {employee['address']}")
    print(f"Salary: {employee['salary']}")
    print(f"Post: {employee['post']}")
    print(f"Year of Joining: {employee['year_of_joining']}")
    print(f"Education: {employee['education']}")
    print(f"Year of Experience: {employee['year_of_experience']}")

# Function to update year of experience
def update_year_of_experience(employee):
    current_year = 2024
    employee["year_of_experience"] = current_year - employee["year_of_joining"]

# Function to increase salary
def increase_salary(employee, increment):
    employee["salary"] += increment

# Print four attributes individually
print(employee101["name"])
print(employee101["number"])
print(employee101["address"])
print(employee101["salary"])

# Describe employee and perform updates
describe_employee(employee101)
increase_salary(employee101, 5000)
update_year_of_experience(employee101)

# Print updated details
print("\nUpdated Details:")
describe_employee(employee101)

# Creating and describing 10 employees
employees = [
    {"name": "Alice Smith", "number": 102, "address": "456 Oak Avenue", "salary": 60000, "post": "Manager", "year_of_joining": 2015, "education": "MBA", "year_of_experience": 9},
    {"name": "Bob Johnson", "number": 103, "address": "789 Pine Road", "salary": 55000, "post": "Analyst", "year_of_joining": 2017, "education": "M.Sc", "year_of_experience": 7},
    {"name": "Charlie Brown", "number": 104, "address": "321 Maple Street", "salary": 52000, "post": "Technician", "year_of_joining": 2019, "education": "Diploma", "year_of_experience": 5},
    {"name": "Diana Prince", "number": 105, "address": "654 Cedar Lane", "salary": 70000, "post": "Director", "year_of_joining": 2012, "education": "Ph.D.", "year_of_experience": 12},
    {"name": "Eve Adams", "number": 106, "address": "987 Birch Boulevard", "salary": 45000, "post": "Assistant", "year_of_joining": 2021, "education": "B.A.", "year_of_experience": 3},
    {"name": "Frank Castle", "number": 107, "address": "147 Spruce Street", "salary": 48000, "post": "Coordinator", "year_of_joining": 2020, "education": "B.Com", "year_of_experience": 4},
    {"name": "Grace Lee", "number": 108, "address": "258 Willow Way", "salary": 53000, "post": "Consultant", "year_of_joining": 2016, "education": "MBA", "year_of_experience": 8},
    {"name": "Hank Pym", "number": 109, "address": "369 Aspen Court", "salary": 62000, "post": "Scientist", "year_of_joining": 2014, "education": "M.Sc", "year_of_experience": 10},
    {"name": "Ivy Green", "number": 110, "address": "741 Redwood Drive", "salary": 59000, "post": "Advisor", "year_of_joining": 2013, "education": "Ph.D.", "year_of_experience": 11},
    {"name": "Jack Black", "number": 111, "address": "852 Dogwood Trail", "salary": 51000, "post": "Developer", "year_of_joining": 2019, "education": "B.Tech", "year_of_experience": 5}
]

# Describe each employee
for employee in employees:
    describe_employee(employee)
    print()  # Blank line between descriptions

# Performing some updates
increase_salary(employees[0], 2000)
update_year_of_experience(employees[1])

# Print updated details for those employees
print("After Updates:")
describe_employee(employees[0])
describe_employee(employees[1])

John Doe
101
123 Elm Street
50000
Name: John Doe
Employee Number: 101
Address: 123 Elm Street
Salary: 50000
Post: Engineer
Year of Joining: 2018
Education: B.Tech
Year of Experience: 6

Updated Details:
Name: John Doe
Employee Number: 101
Address: 123 Elm Street
Salary: 55000
Post: Engineer
Year of Joining: 2018
Education: B.Tech
Year of Experience: 6
Name: Alice Smith
Employee Number: 102
Address: 456 Oak Avenue
Salary: 60000
Post: Manager
Year of Joining: 2015
Education: MBA
Year of Experience: 9

Name: Bob Johnson
Employee Number: 103
Address: 789 Pine Road
Salary: 55000
Post: Analyst
Year of Joining: 2017
Education: M.Sc
Year of Experience: 7

Name: Charlie Brown
Employee Number: 104
Address: 321 Maple Street
Salary: 52000
Post: Technician
Year of Joining: 2019
Education: Diploma
Year of Experience: 5

Name: Diana Prince
Employee Number: 105
Address: 654 Cedar Lane
Salary: 70000
Post: Director
Year of Joining: 2012
Education: Ph.D.
Year of Experience: 12

Name: Eve Adams
Employee Number: 106
Address: 987 Birch Boulevard
Salary: 45000
Post: Assistant
Year of Joining: 2021
Education: B.A.
Year of Experience: 3

Name: Frank Castle
Employee Number: 107
Address: 147 Spruce Street
Salary: 48000
Post: Coordinator
Year of Joining: 2020
Education: B.Com
Year of Experience: 4

Name: Grace Lee
Employee Number: 108
Address: 258 Willow Way
Salary: 53000
Post: Consultant
Year of Joining: 2016
Education: MBA
Year of Experience: 8

Name: Hank Pym
Employee Number: 109
Address: 369 Aspen Court
Salary: 62000
Post: Scientist
Year of Joining: 2014
Education: M.Sc
Year of Experience: 10

Name: Ivy Green
Employee Number: 110
Address: 741 Redwood Drive
Salary: 59000
Post: Advisor
Year of Joining: 2013
Education: Ph.D.
Year of Experience: 11

Name: Jack Black
Employee Number: 111
Address: 852 Dogwood Trail
Salary: 51000
Post: Developer
Year of Joining: 2019
Education: B.Tech
Year of Experience: 5

After Updates:
Name: Alice Smith
Employee Number: 102
Address: 456 Oak Avenue
Salary: 62000
Post: Manager
Year of Joining: 2015
Education: MBA
Year of Experience: 9
Name: Bob Johnson
Employee Number: 103
Address: 789 Pine Road
Salary: 55000
Post: Analyst
Year of Joining: 2017
Education: M.Sc
Year of Experience: 7